section{
    border: 2px solid black;
}

div{
    height: 150px;
    width: 150px;
    background-color: aqua;
}

.box-1{
    position: absolute;
    top: 163px;
    left: 155px;
    background-color: red;
}
.box-2{
    position: absolute;
    top: 306px;
    left: 5px;
    background-color: rgb(6, 211, 68);
}
.box-3{
    position: absolute;
    top: 310px;
    left: 305px;
    background-color: rgb(225, 117, 9);
}
.box-4{
    position: absolute;
    top: 10px;
    left: 302px;
    background-color: rgb(56, 7, 219);
}
