article{
    display:  grid;
    grid-template-columns:1fr 3fr 1fr 1fr  ;
    grid-template-columns: repeat(20,1fr);
    grid-template-columns: repeat(20,200px);
    border: 2px solid black;
}
div{
    height: 150px;
    width: 150px;
    background-color: orange;
}
