ul{
    background-color: black;
    color: white;
    height: 240px;
    font-size: 60px;
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
}

@media screen and (max-width:700px){
    ul{
        flex-direction: column;
    }
    
}