section{
    display:  grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-columns: 250px 200px 250px 250px;
    grid-template-columns: repeat(10,1fr);
    grid-row: ;
    grid-column: ;
    border: 2px solid red;
}

div{
    height: 140px;
    width: 140px;
    background-color: lightgreen;
    border: 3px solid black;
}