div{
    display: inline-block;
    height: 300px;
    width: 300px;
    background-color: orange;
}
section{
    border: 2px solid black;
}
#box-1{
    position: absolute;
    height: 250px;
    width: 250px;
    top: 35px;
    left: 35px;
    background-color: red;
}