article{
    color: cornflowerblue;
}
div{
    height: 144px;
    width: 344px;
    /* thickness type color */
    /* border: 2px  solid black;
    border: 2px dashed yellow; */
    /* border: 3px dotted orange; */

    border: 2px  solid black;
    border-radius: 12px;
    background-color: red;
    border-radius: 50%;
}
div:hover{
    background-color: blue;
}

input[type="text"]{
    height: 140px;
}
a:active{
    color: green;
}

li:nth-of-type(2n+4){
    color: aqua;
}
