nav{
    width: 100vw;
    height: 3rem;
    border: 3px solid red;
}
ul{
    margin-left: 340px;
    width: 500px; 
    display: flex;
    justify-content: space-evenly;
}
ul li{   
    list-style:none;
}

img{
    position: absolute;
    top: 10px;
    height: 2.5rem;
    width: 130px;
}