div{
    height: 150px;
    width: 150px;
    margin: 2px auto;
    background-color: red;
    border-radius: 50%;


    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-delay: 0ms; 
}
@keyframes  bounce{
    100%{
        transform: translateY(600px);
    }
}