div{
    height: 140px;
    width: 140px;
    background-color: orange;
    border: 3px solid black;
    border: 3px dotted red;
    border: 3px dashed yellow;
    /* border-radius: 20px; */
    border-radius: 50%;
}


article{ 
    height: 150px;
    width: 350px;
    background-color:chartreuse;
}

article:hover{
   background-color: yellow;
   border-radius: 50%;
}

a:active{
    color: green;
}
a:visited{
    color: red;
}

