body{
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 90vh;
    border: 2px solid black;
}

aside{
    background-color: orange;
}
main{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr;
}

.main-top{
    grid-column: 1/3;
    background-color: lightgreen;
}

.main-left{
    grid-row: 2/5;
    background-color: blue;
}
.main-1{
    background-color:chartreuse;
}
.main-2{
    background-color:aqua;
}
.main-3{
    background-color:blueviolet;
}