nav{  
    height: 2.5rem;
}
 

ul{ 
    display: flex;
    /* justify-content: right; */
    justify-content: space-between;
    width: 600px;
    margin-left: 65rem;
}
ul li{
    font-size: 30px;
    margin-right: 40px;
    list-style: none;
}
nav img{
    position: absolute;
    top: 10px;
    height: 50px;
    width: 50px;
}

 