section{
    border: 2px solid black;
}

section div{
    display: inline-block;
    height: 140px;
    width: 140px;
    border: 2px solid red;
    background-color: lightgreen;
}

#box{
    position: absolute;
    position: relative;
    top: 20px;
    left: 50px;
    background-color:blueviolet;
}