div{
    height: 140px;
    width: 140px;
    border: 3px solid black;
    display: inline-block;
    background-color: orange;
}
#box{
    position: absolute;
    position: relative;
    top: 40px;
    left: 40px;
    background-color: lightgreen;
}

section{
    border: 3px solid red;
}
