ul{
    display: flex;
    justify-content: left;

}

li{
    margin-left: 30px;
    list-style: none;
}

nav{
    border: 2px solid red;
    height: 60vh;
    background-image: url("https://images.unsplash.com/photo-1727135393486-674f1b7adc48?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxOHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
}