div>p{
    color: orange;
    background-color: chartreuse;
}

article section{
    color: aqua;
}

aside+p{
    color: white;
    background-color: black;
}

aside~p{
    color: white;
    background-color: black;
}